@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.pie {
  padding-block: 30px;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}
